.sidenav-container {
  height: 100%;
  font: 1em Poppins;
}

.sidenav-container .sidenav{
  font: Poppins
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
