#page-login h3{
    margin: 2rem;
}

#page-login main .form-container{
    width: 100%;
    max-width: 100rem;
    margin-left: 2rem;
    padding-top: 1.5rem;
}

#page-login main .form-container mat-form-field{
    margin-top: 2rem;
    margin-left: 2rem;
}

.buttons-container{
    margin: 2rem;
}

.buttons-container button{
    margin-left: 1rem;
}