#page-edit-movie h3{
    margin: 2rem;
}

#page-edit-movie main .form-container{
    width: 100%;
    max-width: 100rem;
    margin-left: 2rem;
    padding-top: 1.5rem;
}

#page-edit-movie main .form-container mat-form-field{
    margin-top: 2rem;
    margin-left: 2rem;
}

#page-edit-movie main .form-container .select-block{
    margin-top: 2rem;
    margin-left: 2rem;
}

.buttons-container{
    margin-top: 2rem;
}

.buttons-container button{
    width: 10rem;
    margin-left: 1rem;
}