#page-list-movie h3{
    margin: 2rem;
}

#page-list-movie .container{
    margin-left: 2rem;
}

#page-list-movie .container label{
    margin-left: 3rem;
}

#page-list-movie .mat-elevation-z8{
    width:100rem;
    margin: 2rem;
}